{%extends 'base.html'%}



{%block title_block%}
<title>Add-Employee</title>
{%endblock%}


{%block main_block%}

<div class="container">
    <form action="" method="post" class="w-50 p-4 mx-auto border rounded shadow">
        <h3 class="text-center">Add New Employee</h3>
        {%csrf_token%}

        <div class="row mb-2">
            <div class="col-6">
                <label for="">Name</label>
                {{form.name}}
            </div>
            <div class="col-6">
                <label for="">Department</label>
                {{form.department}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <label for="">Salary</label>
                {{form.salary}}
            </div>
            <div class="col-6">
                <label for="">Location</label>
                {{form.location}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <label for="">Email</label>
                {{form.email}}
            </div>
            <div class="col-6">
                <label for="">Address</label>
                {{form.address}}
            </div>
        </div>
        

        

        <div class="row mt-3">
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-outline-dark form-control " >add</button>

            </div>
            <div class="col-4"></div>
        </div>

        

        


    </form>
</div>


{%endblock%}